body {
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
	font-size: 18px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 500; 
    height:100%;
    margin:0;
    padding:0;
}

#test-main {
	position: absolute;
	top: 0;
	left: 0;
	color: white;
	background: red;
	width: 100px;
	height: 100px;
}