<ul id="sodOptions">
	<li id="portfolio" class="sodOption pulser">
		<a class="sodClick" href="#/portfolio">
			<svg width="120" height="110">
			  <circle cx="50" cy="50" r="40" fill="#a34" />
			  <circle cx="50" cy="50" r="18" fill="#fff" />
			  <text x="65" y="100" style="fill:#a34;font-size:12px;">
				  portfolio
			  </text>
			</svg>
		</a>
	</li>
	<li id="workshops" class="sodOption pulser">
		<a class="sodClick" href="#/workshops">
			<svg width="110" height="100">
			  <circle cx="40" cy="40" r="30" fill="#da3" />
			  <circle cx="40" cy="40" r="12" fill="#fff" />
			  <text x="50" y="80" style="fill:#da3;font-size:12px;">
				  workshops
			  </text>
			</svg>
		</a>
	</li>
	<li id="contact" class="sodOption pulser">
		<a class="sodClick" href="#/contact">
			<svg width="150" height="160">
			  <circle cx="70" cy="70" r="60" fill="#c4f" />
			  <circle cx="70" cy="70" r="28" fill="#fff" />
			  <text x="90" y="138" style="fill:#c4f;font-size:12px;">
				  contact
			  </text>
			</svg>
		</a>
	</li>
</ul>
